footer{
	color: rgba(255, 255, 255, 0.5);
}

.navbar-collapse{
justify-content: flex-end;
}

.footer-text{
	padding: 10px 20px 10px 10px;
}

.snake td{
	padding: 5px;
}

div.scroll-table {
	width: 90%;
	overflow: auto;
	max-height: 650px;
  }

.container{
	padding: 10px 0;
}