footer{
	color: rgba(255, 255, 255, 0.5);
}

.navbar-collapse{
justify-content: flex-end;
}

.footer-text{
	padding: 10px 20px 10px 10px;
}

.snake td{
	padding: 5px;
}

div.scroll-table {
	width: 90%;
	overflow: auto;
	max-height: 650px;
  }

.container{
	padding: 10px 0;
}

body, textarea {
    font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}

.error_desc404 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto 45px;
    letter-spacing: 1px;
}
.margin_t_e{
	margin: 0 auto 25px;
}

.page404 {
    color: #dfdfdf;
    font-size: 250px;
    line-height: 250px;
    margin: 0;
    position: relative;
    text-align: center;
}

.page404 > span {
    font-weight: 600;
}

.hm_columns {
    position: relative;
    min-height: 1px;
    height: 100%;
    float: left;
}

b, strong {
    font-weight: bold;
}